
.white-circle
{
    background: url('assets/white-circle.png');
    background-size: cover;
}
.white-rounded-rect
{
    background: url('assets/white-rounded-rect.png');
    background-size: cover;
}
.white-rect
{
    background: url('assets/white-rect.png');
    background-size: cover;
}

.dark-circle
{
    background: url('assets/dark-circle.png');
    background-size: cover;
}
.dark-rounded-rect
{
    background: url('assets/dark-rounded-rect.png');
    background-size: cover;
}
.dark-rect
{
    background: url('assets/dark-rect.png');
    background-size: cover;
}

.pc256
{
    width:256px;
    height:256px;
}
.pc256 img
{
    width:256px;
    height:256px;
}


.pc128
{
    width:128px;
    height:128px;
}
.pc128 img
{
    width:128px;
    height:128px;
}

.pc64
{
    width:64px;
    height:64px;
}
.pc64 img
{
    width:64px;
    height:64px;
}

.pc32
{
    width:32px;
    height:32px;
}
.pc32 img
{
    width:32px;
    height:32px;
}

.pc24
{
    width:24px;
    height:24px;
}
.pc24 img
{
    width:24px;
    height:24px;
}

.pc16
{
    width:16px;
    height:16px;
}
.pc16 img
{
    width:16px;
    height:16px;
}
